.participants
  - if @unassigned.present?
    %h1 Add participant to maneuvers queue
    %hr
    = form_tag assign_number_participants_path, class: 'scoring' do
      .form-horizontal
        = select_tag :id,
          options_from_collection_for_select(@unassigned, :id, :name),
          class: 'form-control'
        = select_tag :bus_id,
          options_from_collection_for_select(@buses, :id, :number),
          class: 'form-control', include_blank: 'Bus number', required: true
        = number_field_tag :number, @next_number, min: @next_number
        %button.btn.btn-primary.increment{type: :button, disabled: true,
          data: { field: :number,
                  type: 'minus' } }-
        %button.btn.btn-primary.increment{type: :button,
          data: { field: :number,
                  type: 'plus' } }+
        = submit_tag 'Add to maneuver queue', class: 'btn btn-primary'
  - else
    No participants to add to the maneuvers queue.

  %h1 Participants
  %hr

  .uniqueness-warning
    Please choose a unique participant number.

  %table.participants
    %tr
      %th Name
      %th Number
      %th Bus
    = form_for Participant.new do |f|
      %tr
        %td= f.text_field :name, placeholder: 'Name', class: 'form-control'
        %td= f.number_field :number, class: 'form-control'
        %td= f.collection_select :bus_id, @buses, :id, :number,
          {include_blank: true}, {class: 'form-control'}
        %td= f.submit 'Add', class: 'btn btn-primary'
    - @participants.each do |participant|
      %tr
        = form_for participant do |f|
          %td= f.text_field :name, value: participant.name,
            class: 'form-control', required: true
          %td= f.number_field :number, value: participant.number,
            class: 'form-control'
          %td= f.collection_select :bus_id, @buses, :id, :number,
            {value: participant.try(:bus_id), include_blank: true}, { class: 'form-control' }
          %td= f.submit 'Save', class: 'btn btn-primary'
        %td= button_to 'Remove', participant_path(participant), method: :delete, class: 'btn btn-primary delete'
