.welcome
  Welcome to the 2017 UMass Transit Special Transportation Roadeo mobile webapp!
  %hr
  - if Participant.any?
    To view the scoreboard, click
    = link_to 'here', scoreboard_participants_path
    or on the button above.
  - else
    Once the roadeo has begun, you will be able to view the scoreboard here.
  .login-instructions
    If you have signed up to judge the roadeo:
    %ul
      %li
        Click
        = link_to 'here', new_user_registration_path
        to request a login.
      %li
        Once your request has been approved,
        = link_to 'log in', new_user_session_path
        to record maneuver scores.
      %li Enjoy the roadeo!
  .attributions
    = link_to 'This site', 'https://github.com/umts/umasstransit.rodeo'
    designed by
    = link_to 'David Faulkenberry', 'https://github.com/dfaulken'
