%h1 Add new bus
%table.buses
  %tr
    %th Number
    %th
  = form_for Bus.new do |f|
    %tr
      %td= f.text_field :number, placeholder: 'Bus number', class: 'form-control'
      %td= f.submit 'Add', class: 'btn btn-primary'
  - @buses.each do |bus|
    %tr
      %td= bus.number
      %td= button_to 'Remove', bus_path(bus), method: :delete, class: 'btn btn-primary delete'

