.scoring
  %h1 Onboard Judging
  %h3 Participant #{@participant.display_information(:number, :name)}
  %hr
  = form_tag onboard_judgings_path do
    = fields_for :onboard_judging do |f|
      = f.hidden_field :participant_id, value: @participant.id
      %h2 Time elapsed:
      .field
        = f.number_field :minutes_elapsed, value: 10, min: 0
        minutes
        %button.btn.btn-primary.increment{type: :button,
          data: { field: :onboard_judging_minutes_elapsed, type: 'minus' } }-
        %button.btn.btn-primary.increment{type: :button,
          data: { field: :onboard_judging_minutes_elapsed, type: 'plus' } }+
      .field
        = f.number_field :seconds_elapsed, value: 30, min: 0, max: 59
        seconds
        %button.btn.btn-primary.increment{type: :button, disabled: true,
          data: { field: :onboard_judging_seconds_elapsed, type: 'minus' } }-
        %button.btn.btn-primary.increment{type: :button,
          data: { field: :onboard_judging_seconds_elapsed, type: 'plus' } }+
      %h2 Safety Habits
      %hr
      .field
        = f.label 'Missed turn signals'
        = f.number_field :missed_turn_signals, value: 0, min: 0
        %button.btn.btn-primary.increment{type: :button, disabled: true,
          data: { field: :onboard_judging_missed_turn_signals,
                  type: 'minus' } }-
        %button.btn.btn-primary.increment{type: :button,
          data: { field: :onboard_judging_missed_turn_signals,
                  type: 'plus' } }+
      %h2 Smoothness of Operation
      %hr
      .field
        = f.label 'Sudden stops'
        = f.number_field :sudden_stops, value: 0, min: 0
        %button.btn.btn-primary.increment{type: :button, disabled: true,
          data: { field: :onboard_judging_sudden_stops,
                  type: 'minus' } }-
        %button.btn.btn-primary.increment{type: :button,
          data: { field: :onboard_judging_sudden_stops,
                  type: 'plus' } }+
      .field
        = f.label 'Sudden starts'
        = f.number_field :sudden_starts, value: 0, min: 0
        %button.btn.btn-primary.increment{type: :button, disabled: true,
          data: { field: :onboard_judging_sudden_starts,
                  type: 'minus' } }-
        %button.btn.btn-primary.increment{type: :button,
          data: { field: :onboard_judging_sudden_starts,
                  type: 'plus' } }+
      .field
        = f.label 'Abrupt turns'
        = f.number_field :abrupt_turns, value: 0, min: 0
        %button.btn.btn-primary.increment{type: :button, disabled: true,
          data: { field: :onboard_judging_abrupt_turns,
                  type: 'minus' } }-
        %button.btn.btn-primary.increment{type: :button,
          data: { field: :onboard_judging_abrupt_turns,
                  type: 'plus' } }+
    = submit_tag 'Save', class: 'btn btn-primary submit'
