%nav.navbar.navbar-default.with-icon
  .container-fluid
    .navbar-header
      %a.navbar-brand{href: root_path}= image_tag 'favicon.png'
    - if Participant.any?
      = link_to scoreboard_participants_path do
        %button.btn.btn-default.navbar-btn{type: :button} Scoreboard
    - if user_signed_in?
      - if current_user.admin? || current_user.judge?
        = link_to maneuvers_path do
          %button.btn.btn-default.navbar-btn{type: :button} Maneuvers
      - if current_user.admin? || current_user.circle_check_scorer?
        = link_to circle_check_scores_path do
          %button.btn.btn-default.navbar-btn{type: :button} Circle Check
      - if current_user.admin? || current_user.quiz_scorer?
        = link_to quiz_scores_path do
          %button.btn.btn-default.navbar-btn{type: :button} Quiz
      - if current_user.admin? || current_user.master_of_ceremonies?
        = link_to participants_path do
          %button.btn.btn-default.navbar-btn{type: :button} Participants
        = link_to buses_path do
          %button.btn.btn-default.navbar-btn{type: :button} Buses
        - if current_user.admin?
          = link_to admin_users_path do
            %button.btn.btn-default.navbar-btn{type: :button} Roles
          = link_to manage_admin_users_path do
            %button.btn.btn-default.navbar-btn{type: :button} 
              Manage Users
              - unless User.where(approved: false).count.zero?
                %span.badge
                  = User.where(approved: false).count
      .dropdown
        %button.btn.navbar-btn.dropbtn
          = current_user.name
          .caret
        .dropdown-content.hidden
          %a= link_to 'Edit Account', edit_user_registration_path
          %a= link_to 'Logout', destroy_user_session_path, method: :delete    
    - else
      = link_to new_user_session_path do
        %button.btn.btn-default.navbar-btn.navbar-right.login{type: :button} Log in
      = link_to new_user_registration_path do 
        %button.btn.btn-default.navbar-btn.navbar-right.login{type: :button} Request a login
